<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/Details.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script th:src="@{/js/app.js}"></script>
    <link rel="stylesheet" th:href="@{/css/HomePage.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<script src="https://use.fontawesome.com/ad3c6e2629.js"></script>
    
  </head>
  <body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a th:href="@{/shop}">Tien Dung Gear</a></div>
        <ul class="links">
          <li><a th:href="@{/shop}">Home</a></li>
          <li>
            <a th:href="@{/screen}" class="desktop-link">Screen</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
	              <li><a th:href="@{/find/Dell}">DELL</a></li>
	              <li><a th:href="@{/find/Hp}">Hp</a></li>
	              <li><a th:href="@{/find/Lenovo}">Lenovo</a></li>
	              <li><a th:href="@{/find/MSI}">MSI</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/laptop}" class="desktop-link">Laptop</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
	              <li><a th:href="@{/find/Dell}">DELL</a></li>
	              <li><a th:href="@{/find/Hp}">Hp</a></li>
	              <li><a th:href="@{/find/Lenovo}">Lenovo</a></li>
	              <li><a th:href="@{/find/MSI}">MSI</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/chair}" class="desktop-link">Gaming Chair</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a th:href="@{/find/Corsair}">Corsair</a></li>
		              <li><a th:href="@{/find/Courgar}">Courgar</a></li>
		              <li><a th:href="@{/find/Raiser}">Raiser</a></li>
		              <li><a th:href="@{/find/Asus}">Asus</a></li>
		              <li><a th:href="@{/find/KingSeries}">KingSeries</a></li>
		              <li><a th:href="@{/find/AKRacing}">AKRacing</a></li>
		              <li><a th:href="@{/find/Warrior}">Warrior</a></li>
            </ul>
          </li>
          <li>
            <a  class="desktop-link"><i style=" color: #EEEEEE" class="fa fa-user-o" aria-hidden="true"></i></a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
               <li><a th:href="@{/address}"><i style="margin-right: 0.5em; color: #EEEEEE" class="fa fa-address-book" aria-hidden="true"></i>Address</a></li>
		      <li><a th:href="@{/payment}"><i style="margin-right: 0.5em; color: #EEEEEE" class="fa fa-cc-visa" aria-hidden="true"></i>Payment</a></li>
		      <li><a th:href="@{/cart}"><i style="margin-right: 0.5em; color: #EEEEEE" class="fa fa-cart-arrow-down" aria-hidden="true"></i>Cart</a></li>
		      <li><a th:href="@{/login}"><i style="margin-right: 0.5em; color: #EEEEEE" class="fa fa-sign-in" aria-hidden="true"></i>Log in</a></li>
            </ul>
          </li>
          <li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
    <div class="about_body">
    <div th:object="${chair}" class = "card-wrapper">
      <div class = "card">	
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img th:src="@{${'/images'+chair.Source+'.jpg'}}" alt = "shoe image">
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 style="text-align:center;" class = "product-title" th:text="${chair.Name}"></h2>
          <a th:href = "@{/find/{brand}(brand=${chair.Type})}" class = "product-link">visit Original store</a>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.8(21)</span>
          </div>

          <div class = "product-price">
            <p th:with="result=${chair.Price*1.25}" class = "last-price">Old Price: <span th:text="${result+'$'}"></span></p>
            <p class = "new-price">New Price: <span th:text="${chair.Price+'$ (20% off)'}"></span></p>
          </div>

          <div class = "product-detail">
            product-detail<ul>
              <li>Name: <span th:text="${chair.Name}"></span></li>
              <li>Stand Angle: <span th:text="${chair.standAngle}"></span></li>
              <li>Lying Angle: <span th:text="${chair.lyingAngle}"></span></li>
              <li>Back Height: <span th:text="${chair.Height}"></span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <form method="post" th:action="@{/chair/{id}(id=${chair.ID})}">
			<input th:onclick="Confirm()" class="btn" type="submit" value="Add">
		</form>
          <a th:href="@{/shop/}"><button  class="btn" type = "button" >Go Back!</button></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  </body>
</html>