<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:object="${screen}">
		<img th:src="@{${'/images'+screen.Source+'.jpg'}}">
		<div th:text="${screen.Name}"></div>
		<div th:text="${screen.Size}"></div>
		<div th:text="${screen.Price}"></div>
		<form method="post" th:action="@{/screen/{id}(id=${screen.ID})}">
			<input type="submit" value="submit">
		</form>
		<a th:href="@{/screen/}">Go Back!</a>
	</div>
</body>
</html>